body
{
   background-color: rgb(190, 152, 187);
}
.principal{
    background-color: rgb(52, 199, 177);
    border: 5px solid #6e33cc;
    border-radius: 8px;
    width: 950px;
    height: 1350px;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: auto;
}
.block1 {
    background-color:coral;
    float: right;
    height: 150px;
    width: 95%;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    border: 5px solid #3388CC;
}
.header {
    text-align: center;
}
.section {
    padding: 10px;
    border: 1px solid #23a0da;
    border-radius: 5px;
    display: flex;
}
.section h2 {
    margin-top: 0;
    width: 30%;
}
.section-content {
    width: 70%;
    clear: both;
    
}
.block {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #0cb6d4;
    border-radius: 4px;
    background-color: #bbff00a8;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 768px) {
    body {
      font-size: 14px;
      background-color: rgb(144, 169, 238);
    }
  }
  
  @media only screen and (max-width: 480px) {
    body {
      font-size: 12px;
      background-color: rgb(153, 45, 45);
    }
  }