body {
   font-family: Arial, sans-serif;
   margin: 0;
   background-image: url('island.gif');
   background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
   background-position: left ; /* Place l'image vers la droite */
   background-attachment: fixed;
}

header {
   color: gold;
   padding: 5px;
   text-align: center;
}
header h1 {
   margin: 0;
}

.button {
  display: inline-block;
  margin-top: 18px;
  padding: 10px 18px;
  background: white;
  color: #474a48;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

.navigation {
   background-color: rgba(128, 0, 128, 0.5);
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 2px 0;
 }
 
 .navigation > ul {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none; /* Supprime les puces */
   padding: 0; /* Évite un éventuel décalage */
 }
 
 .navigation li {
   position: relative;
   padding: 10px 15px; 
   color: white;
   text-align: center;
   margin: 0 5px;
   font-size: 14px;
 }
 
 .navigation li:hover {
   background-color: #3f0561;
   border-top: 2px solid #d0d8de;
   transition: background-color 0.3s, border-top 0.3s;
 }
 
 .navigation li ul {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: rgba(128, 0, 128, 0.5);
   padding: 0;
   z-index: 1000;
   border: 1px solid rgba(128, 128, 128, 0.5);;
   max-height: 200px;
   overflow-y: auto;
 }
 
 .navigation li:hover > ul {
   display: block;
 }
 
 .navigation a {
   color: #ffc800;
   text-decoration: none;
   display: inline-block;
   padding: 5px 10px;
 }
 
 .navigation a:hover {
   background-color: #444;
   font-weight: bold;
   color: #ffc800;
   transition: background-color 0.3s;
 }
 
 .navigation li ul a {
   color: white;
   padding: 5px 10px;
   width: 150px;
   text-align: left;
   font-size: 12px;
 }
 
 .navigation li ul a:hover {
   background-color: palevioletred;
   font-weight: bold;
   color: gainsboro;
}


footer {
   text-align: center;
   padding: 10px;
   background-color: rgba(245, 242, 242, 0.9);
   color: #333;
   margin-top: 20px;
   position: fixed;
   bottom: 0;
   width: 100%;
}
