body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5d89a3;
  }
  
  header {
    background-color: #77b8ee;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 10px black;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }

label.true {
  color: greenyellow;
 }
  
#block {
  max-width: 800px;
  margin: 0 auto;
  background: lightgrey;
  border-radius: 8px;
  padding: 20px;
   color: #fff;
}
.result {
  font-size: 18px;
  font-weight: bold;
  color: #2e8b57;
  margin-top: 10px;
  text-align: center;
}
  
 .block {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    background-color: #77b8ee;
  }
  
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #77b8ee;
    color: #fff;
    box-shadow: 0 10px 10px black;
  }