.body {
   background-color: rgba(88, 88, 82, 0.89);
   font-family: Arial, sans-serif;
   margin: 0;   
}

.header {
   background-color:darkgoldenrod;
   color:dimgrey;
   text-align: center;
   padding: 20px;
   font-size: 20px;
   border-radius: 24px;
}

.main-content {
   display: flex;
   justify-content: space-between;
   padding: 20px;
}

.introduction {
   border-radius: 10px;
   background-color:coral;
   height: 40px;
   width: 100%;
   margin: 10px;
   text-align: center;
}

.p1{
   border-radius: 10px;
   background-color:"#ffe4b5";
   height: 420px;
   width: 100%;
   margin: 10px;
   float: left;

}

.introduction-bis{
   border-radius: 10px;
   margin: 10px;
   height: 40px;
   width: 100%;
   text-align: center;
   background-color: darkseagreen;
   
}

.introduction-ter{
   border-radius: 10px;
   margin: 10px;
   height: 40px;
   width: 100%;
   text-align: center;
   background-color: orangered;
}

.p2{
   border-radius: 10px;
   background-color:"#dcdcdc";
   height: 420px;
   width: 100%;
   margin: 10px;
   float: left;

}
   
.footer{
   border-radius: 10px;
   background-color: rgba(206, 209, 233, 0.829);
   text-align: center;
   padding: 10px;
}
