body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9d6ae;
  }
  
  header {
    background-color: #c61349;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 10px black;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  #exercises {
    max-width: 800px;
    margin: 0 auto;
    background: #9857b5;
    border-radius: 8px;
    padding: 20px;
    color: #fff;
  }
  
  .exercise {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    background-color: #77b8ee;
  }
  
  .exercise h3 {
    margin: 0 0 10px 0;
  }
  
  button {
    background-color: #e47d19;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button a {
    text-decoration: none;
    color: white;
  }

  button:hover {
    background-color: #a3524d;
} 
 
.button a {
  text-decoration: none;
}
  
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #c61349;
    color: #fff;
    box-shadow: 0 10px 10px black;
  }
  
